{% extends 'base.html.twig' %}

{% block title %}
    {{ 'author_edit'|trans({'%id%': author.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'author_edit'|trans({'%id%': author.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('author_edit', {id: author.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-info" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('author_index') }}" class="btn btn-info">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}