{% extends 'base.html.twig' %}

{% block title %}
    {{ 'author_details'|trans({'%id%': author.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'author_details'|trans({'%id%': author.id|default('')}) }}</h1>
    {% if author is defined and author|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ author.name }}</dd>
            <dt>{{ 'label_book'|trans }}</dt>
            <dd>
                {% for book in author.books %}
                    <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'book_show'|trans }}">
                        {{ book.title }}
                    </a><br>
                {%  endfor %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('author_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-info">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}