{% extends 'base.html.twig' %}

{% block title %}
    {{ 'category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'category_details'|trans({'%id%': category.id|default('')}) }}</h1>

    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ category.content }}</dd>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label_title'|trans }}</th>
            <th>{{ 'label_author'|trans }}</th>
{#            <th>{{ 'label_tags' }}</th>#}
        </tr>
        </thead>
        <tbody>
        {% for book in category.books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author.name }}</td>

{#            <td>#}
{#                {%  for tag in book.tags %}#}
{#                    {{ tag.title }}#}
{#                {%  endfor %}#}

{#            </td>#}
            {% endfor %}
        </tr>
        <td>
            <p>
                <a href="{{ url('category_index') }}" title="{{ 'action_back_to_list'|trans }}">
                    {{ 'action_back_to_list'|trans }}
                </a>
            </p>
        </td>
        </tbody>
    </table>
{% endblock %}